body {
    color: #281d52;
    font-family: Arial, sans-serif;
    margin: 1000;
    padding: 0;
  }

  .head {
    display: flex;
    margin-top: 80px;
    justify-content: center;
  }
  .head a {
    float: left;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;

    font-size: 12px;
    font-weight: 650;
    color: #281d52;
  }

  .head a:hover {
    color: #c5ad3d;
    border-bottom: 2px solid #c5ad3d;
  }
.logo{
    float: inline-start;
    width: 100px;
    height: 100%;
}
.menu{
    margin-left: 200px;
}
.btn button{
    background-color: #281d52;
    color: #fff;
    border: 5px solid;
    padding: 5px
}
.content {
    
    border-left: 6px #281d52 solid;
}

.banner{
    display: flex;
    justify-content: center;
}

.img{
    width: 390px ;
    height: auto;
    margin-left: 90px;
}
.content p{
    margin-left: 10px;
}
